.page1 {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}

.opening-text {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
}

.mainTitle {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3em;
}

.arrayTitles {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5em;
}

.static-paragraph {
  text-align: center;
}

.hi {
  font-size: 1em;
  text-align: left;
}

.amir-subtitle {
  font-size: 1em;
}

.amir-description {
  font-size: 0.8em;
  text-align: center;
}

/*********** desktop  **********/
@media only screen and (min-width: 800px) {
  .opening-text {
    margin: 5% auto;
    min-height: 22vh;
    min-width: 35%;
  }

  .static-paragraph {
    margin: 10px;
  }
}

/*********** mobile  **********/
@media only screen and (max-width: 800px) {
  .opening-text {
    margin: 20% 10%;
    min-height: 22vh;
    min-width: 35%;
  }

  .static-paragraph {
    margin: 56% 10%;
  }
}